body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #838383;
    background-image: url('Screenshot_20260616-184103_Chrome.jpg'); /* Ganti dengan URL gambar */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    width: 800px;
    height: 500px;
    perspective: 1500px;
    margin-bottom: 20px; 
}

.book {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.page {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 2.5s ease;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.left-page {
    left: 0;
    background-color: #ffffff;
}

.right-page {
    left: 50%;
    transform-origin: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.page img {
    lebar : 58 % ;
    tinggi : otomatis ;
    kesesuaian objek : sampul ;
    batas : 1 px  solid #ccc;
    posisi : penutup ;
    atas : 10 % ;
    kiri : 10 % ;
}

.nama-penulis {
    posisi : absolut ;
    bawah : 10 px ;
    kanan : 10 px ;
    warna latar belakang : rgba ( 255 , 255 , 255 , 0.7 ) ;
    padding : 5px ;​
    radius- batas : 5px ;
    Ukuran font : 14 px ;
    warna : #000;
}

.pemutar musik {
    perataan teks : tengah ;
    warna : #007BFF;
    kursor : penunjuk ;
}

.pemutar musik i {
    Ukuran font : 70 px ;
    margin- kanan : 10px ;
    margin- atas : 10px ;
}

#durasi-lagu {
    Ukuran font : 16 px ;
    warna : #333;
    margin -atas : 5px ;
}

#wadah-lirik {
    tampilan : fleksibel ;
    flex-wrap : wrap ;
    justify-content : center ;
    sejajarkan item : tengah ;
    tinggi : 100 % ;
    warna : #333;
    Ukuran font : 20 px ;
    Font : tebal ;
    perataan teks : tengah ;
    padding : 20 px ;
}
